body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: space-between;
    margin: auto;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.section2 {
    background-color: #1F2937;
}

.hero-content {
    display: flex;
    color: #F9FAF8;
    width: 900px;
    margin: auto;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mid-container {
    display: flex;
    width: 50%;
}

.mid-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.box img {
    width: 25%;
}

.quote-section {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    width: 725px;
    font-size: 36px;
}

.quote-name {
    width: 725px;
    text-align: end;
    font-weight: bold;
}